<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 version="3.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <context-param>
        <description>The pattern of an URL to get MOL files from.</description>
        <param-name>url.pattern.mol</param-name>
        <param-value>file:/sw/chem/testData/mol/{0}.mol</param-value>
    </context-param>
    
    <context-param>
        <description>The pattern of an URL to get RXN files from.</description>
        <param-name>url.pattern.rxn</param-name>
        <param-value>
            file:/sw/chem/testData/rxn/rhea_50-aam/{0}.rxn
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>ctfile2x3d</servlet-name>
        <servlet-class>
            ctfile2x3d.servlet.CTFile2X3DServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <url-pattern>/ctfile2x3d</url-pattern>
        <servlet-name>ctfile2x3d</servlet-name>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <exception-type>java.io.FileNotFoundException</exception-type>
        <location>/WEB-INF/errors/fnfe.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/WEB-INF/errors/iae.jsp</location>
    </error-page>
    
    <listener>
        <description>
            The servlet listens for the application (un)deployment in order to
            (un)register the configuration as MBean.
        </description>
        <listener-class>ctfile2x3d.servlet.CTFile2X3DListener</listener-class>
    </listener>

</web-app>
